@define-color background rgba(27, 3, 41, 0.80);
@define-color foreground #c0caf5;
@define-color black #000000;
@define-color red #4e0110;
@define-color dark-green #0e0314;
@define-color green #39ff14;
@define-color yellow #e3e36a;
@define-color blue #7aa2f7;
@define-color magenta #1b0329;
@define-color dark-magenta #0e0314;
@define-color cyan #7dcfff;
@define-color white #bfacc8;
@define-color orange #ff9e64;

* {
    /* Base styling for all modules */
    border: none;
    border-radius: 0;
    font-family: "Ubuntu";
    font-size: 11px;
    min-height: 0;
    color: @white
}

window#waybar {
    background-color: @background
}

/* Common module styling with border-bottom */
#mode, #mpd, #custom-weather, #custom-playerctl, 
#clock, #network, #pulseaudio, #backlight, 
#disk, #custom-uptime, #custom-updates, #custom-quote,
#idle_inhibitor, #tray,#battery,#memory, #temperature, #cpu {
    margin: 0px 3px;
    padding: 0px 5px;
    border-bottom: 2px solid;
    border-bottom-color: @white
}

#mode:hover, #mpd:hover, #custom-weather:hover, #custom-playerctl:hover, 
#clock:hover, #network:hover, #pulseaudio:hover, #backlight:hover, 
#disk:hover, #custom-uptime:hover, #custom-updates:hover, #custom-quote:hover,
#idle_inhibitor:hover, #tray:hover, #battery:hover, #memory:hover, 
#temperature:hover, #cpu:hover {
    background-color: @dark-magenta;
    border-bottom-color: @green
}

#workspaces {
    padding: 0px;
    margin: 0px 3px
}

/* Workspaces styling */
#workspaces button {
    padding: 0px;
    margin: 0px 3px;
    border-bottom: 2px solid;
    background-color: transparent
}

#workspaces button:hover {
    background: @dark-magenta;
    border-bottom-color: @green;
    font-weight: 900
}

#workspaces button.focused {
    color: @green;
    border-bottom-color: @green;
    font-weight: 900
}

#workspaces button.urgent {
    background-color: @red;
    color: @yellow
}

/* Module-specific styling */
#mode {
    color: @white;
    border-bottom-color: @dark-magenta;
    background: @background
}

#mpd {
    color: @background;
    background: @background;
    border-bottom-color: @dark-magenta;
}

#mpd.disconnected,
#mpd.stopped {
    color: @foreground;
    border-bottom-color: transparent;
}

#custom-playerctl.Playing {
    border-bottom-color: @dark-green;
}

#custom-playerctl.Paused {
    border-bottom-color: @dark-magenta;
}

#temperature.critical {
    color: @temperature-critical-color;
    border-bottom-color: @temperature-critical-color;
}

#battery.charging, #battery.plugged {
    color: @green;
    border-bottom-color: @green
}

#battery.warning:not(.charging) {
    color: @yellow;
    border-bottom-color: @yellow
}

#battery.critical:not(.charging) {
    color: @red;
    border-bottom-color: @red
}

#network.disconnected {
    color: @red;
    border-bottom-color: @red
}

#pulseaudio.muted {
    color: @red;
    border-bottom-color: @red;
}

#idle_inhibitor {
    color: @idle-inhibitor-color;
    border-bottom-color: transparent;
}

#idle_inhibitor.activated {
    color: @idle-inhibitor-active-color;
    border-bottom-color: @idle-inhibitor-active-color;
}

#tray {
    padding: 0 10px;
    margin: 0 2px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: @red;
    border-bottom-color: @red;
}
